{% extends 'layout.html' %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Erro 404</h1>
                <h2>
                    Página não encontrada!</h2>
                <div class="error-details">
                    Atualize o navegador ou retorne à página anterior.
                </div>
                <br>
                <div class="error-actions">
                    <a href="/home" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Página inicial </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}