{% extends 'layout.html' %} {% block body %}
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=94461d89946ef749b7a43d14685c725d1">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
	<style type="text/css" class="init">

	</style>
	<script type="text/javascript" src="/media/js/site.js?_=64232ba754b2748258f2324e5f9e21f9"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fbasic_init%2Fzero_configuration.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">


$(document).ready(function() {
	$('table').DataTable();
} );


	</script>
  <span class="icon text-white-50">
  <div class="text">  
    <button type="button" method="POST" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">Novo Cliente</button>
  </div>
  </span>
  <br>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="maLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container">
        <form class="" action="/clientes" method="POST">
        <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">

                                <input type="text" class="form-control" name="name"  placeholder="Nome">
                            </div>
                        </div>
                    </div>            
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="lastName" placeholder="Sobrenome">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="telefone" placeholder="Telefone">
                            </div>
                        </div>
                    </div>                
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" placeholder="Email">
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="address" placeholder="Endereço">
                            </div>
                        </div>
                    </div>

          <br>

          <button type="submit" class="btn btn-primary">Adicionar</button>
          <br>
          <br>

        </form>
      </div>
    </div>

  </div>       
  </div>
  <body>
  <div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Clientes</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
    
            <table id="data" class="table table-striped table-bordered table-hover dt-responsive" width="100%" >
                <thead>
                    <tr>
                        <th>Cliente ID</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Adicionar Serviço</th>                                              
                        
                    </tr>
                </thead>
                <tbody>
                    {% for clientes in clientes %}
                    <tr>
                        <td>{{clientes.Cliente_id}}</td>
                        <td>{{clientes.Name}} {{clientes.LastName}}</td>
                        <td>{{clientes.Telefone}}</td>
                        <td>{{clientes.Email}}</td>
                        <td>{{clientes.Address}}</td>
                            <td><div class="mb-4"></div>
                                <div class="col mr-2">
                                    <a href="#" class="btn btn-primary btn-sm">
                                        <span value="{{clientes.Cliente_id}}" class="icon text-white-50">
                                            
                                        </span>
                                        <span class="text">Ver Comentários</span>
                                    </a>
                                </div></td>                        
                    
                    </tr>
                    {% endfor %}
                    

                </tbody>
            </table>
    </div>

    
    {% block scripts %}{% endblock %}
    {% endblock %}
  </body>
</html>