{% extends 'layout.html' %} {% block body %}

<style>
/* form {
  max-width: 900px;
  display: block;
  margin: 0 auto;
} */
</style>
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <form class="p-3" method="POST">

        <div class="form-group">
          <label>Tipo de despesa:</label>
            <select name="category__select" >
              <option selected value="Categoria"  disabled selected></option>
            <option value="1" >Alimentação</option>
              <option value="2">Combustível</option>
              <option value="2">Material</option>
            </select>
        </div>
        <div class="form-group" id="firstDiv">
          
          <input type="text" name="price" placeholder="Valor" class="form-control" id="name"></input>
        </div>
        <br>
        <div class="form-group">
            
            <input type="text" class="form-control" name="activity" placeholder="Descrição da despesa">
        </div>


          <div class="form-group">
            <label for="payment_type">Forma de Pagamento: </label>
            <select id="payment_type" name="payment_type_select">
              <option value="Dinheiro">Dinheiro</option>
              <option value="Cartão">Cartão</option>
              <option value="PIX">PIX</option>
              <option value="Boleto">Boleto</option>
              <option value="Cheque">Cheque</option>
            </select>    
          </div>
          <div class="form-group">
            <label for="payment_type_select">Pagamento concluído? </label>
            <select id="payment_type_select" name="payment_confirmed_select">
              <option value="1" >Sim</option>
              <option value="2" >Não</option>
            </select>
          <div class="form-group">
            <label for="name">Data de pagamento: </label>

            <input type="date" id="meeting-time" name="bdate" >    
          </div> 

          <button type="submit" class="btn btn-primary">Postar despesa</button>





          

        </form>
    </div>
  </div>
</div>
{% endblock %}