{% extends 'layout.html' %} {% block body %}   
<!-- <div class="form-group" id="newdate">
  <div class="container-fluid">
    <div class="text-right"> -->
<form class="container-fluid" method="POST">
      <div class="form-group">
        <label for="newdate">Data</label>
        <input  type="date" id="newdate" name="newdate">    
      </div>

      <div class="form-group"> 
          <button type="submit" class="btn btn-primary">Mudar data</button>       
      </div>
</form>
<!-- <br> -->
<div class="container-fluid">
  <div class="card shadow">
          <br> 
          <h2 class="card-header">
            Agenda para {{date_to_display}}
          </h2>
          <!-- Days -->
          <div class="row">
            <div class="card-body" id="today">

        {% for event in events %}
              <ul class="list-timeline list-timeline-primary">
        
                <li class="list-timeline-item show p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column" data-toggle="collapse" data-target="#day-1-item-2">
                  <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-primary font-weight-bold op-8 infinite animated flash" data-animate="flash" data-animate-infinite="1" data-animate-duration="3.5" style="animation-duration: 3.5s;">{{ event.time }} - {{ event.todo }}</span></p>
                  <p class="my-0 collapse flex-fw text-uppercase text-xs text-dark op-8 show" id="day-1-item-2"> {{ event.service }} <span class="text-primary"> - {{ event.notes }}</span> </p>
                </li>              
                  
              </ul>
        {% endfor %}
            
          </div>
  </div>
</div>
{% endblock %}